.product-page {
  .search-header {
    padding: 0 100px;
    position: relative;
  }
  .search-icon {
    position: absolute;
    left: 120px;
    top: 15px;
  }
  .input-el {
    border: 1Px solid #ccc;
    padding-left: 55px;
    border-radius: 15px;
    height: 48px;
    min-height: 48px;
    font-size: 25px;
  }
}