.product-page {
  padding-top: 150px;

  .search-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .search-icon {
    position: absolute;
    left: 120px;
    top: 15px;
  }
  .input-el {
    border: 1Px solid #ccc;
    padding-left: 55px;
    border-radius: 15px;
    height: 48px;
    min-height: 48px;
    font-size: 25px;
  }
  .label {
    padding-bottom: 10px;
  }
  .tag {
    margin: 0 10px;
  }
  .container {
    height: 3000px;
    background-color: aquamarine;
  }
}