.df {
  display: flex;
}
.fcn {
  display: flex;
  flex-direction: column;
}
.aic {
  align-items: center;
}
.aie {
  align-items: flex-end;
}
.ais {
  align-items: flex-start;
}
.jcc {
  justify-content: center;
}
.jcs {
  justify-content: flex-start;
}
.jce {
  justify-content: flex-end;
}
.jcr {
  justify-content: space-around;
}

.fm {
  flex: 1;
}

.fn {
  flex: none;
}

.bg-w {
  background-color: white;
}
.bg-g {
  background-color: #f5f5f5;
}
.section {
  padding: 0 20px;
  background-color: white;
  margin-bottom: 20px;
}
.max-w {
  width: 100vw;
}
.max-h {
  height: 100vh;
}